
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Open+Sans:wght@500&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Open+Sans:wght@500&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin-top:20px ;
    padding-left: 150px;
}
.logo img{
    padding-top: 30px;
    width: 2px;

    
}
.card{
    max-width: 91vw;
    margin: 37px auto;
    font-family: 'Poppins', sans-serif;
    overflow:scroll;
}
.cards{
    display:flex;
    flex-direction: row;
    align-items: center;
    
}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width:16vw;
    margin: 0 40px;
    padding: 19px;
  
}

.card-item img{
    width:20vw;
    height:30vh;
}

.centerdiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-left: 86px;
}

.centerdiv a{
    height: 100px;
    width: 100px;
    background-color: #f5f6fa;
    border-radius: 50px;
    text-align: center;
    margin:10px;
    line-height: 110px;
    box-shadow: 1px 4px 2px 2px #dcdde1;
}
a i{
    transition: all 0.3s linear ;
}

a:hover i{

    transform: scale(1.4);
}

.fa-envelope{
    color:red;
}

.fa-instagram{
    color:#e84393;
}

.fa-twitter{
    color:#0097e6;
}
.card h2{
    font-family: 'roboto', sans-serif;
}

.card-item img{
    width:20vw;
    height:30vh;
}
.container {

    min-height: calc(100vh - 58px - 12vh);
}

/* SEarch */

.container1{
    min-height: 25vw;;
    padding:5%;
    background-image:url("includes/images/pizza.jpg");
    background-position: center;
    background-size: cover;
}

.search-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: solid;
    margin: 10px;
      
}
.form1{
    font-weight: bold;
}

/* Database Image */
#content{
    width:100vw;
    margin: 20px auto;
    border: 1px solid #cbcbcb;

}

.two form{
    width:50%;
    margin: 20px auto;
}

.two form div{
    margin-top: 5px;

}

#img_div{
    display:inline-block;
    width:22vw;
    padding: 23px;
    margin: 15px auto;
    border:1px solid #cbcbcb;
}

#img_div:after{
    content:"";
    width:22vw;
    padding: 23px;
    margin: 15px auto;
    clear:both;
}

.img1 img{
    float:left;
    margin: 5px;
    width:15vw;
    /* height:140px; */
}
/* FOOTER */
.content2{
    height:35vh;
    overflow: hidden;
}
.image2 img{
    float:left;
    width:25vw;
    margin:0px 65px;
    /* padding:0px; */
    overflow:hidden;
}

.text2 h4{
    
    text-decoration: underline;
    text-shadow: #0097e6;
}
 
.content3{
    display:flex;
    flex-direction: row;
    margin: 20px 0px;
    padding: 35px;
}
.text3{
    margin:4px;
}

.foot{
    height:15vh;
    background-color: black;
    position: sticky;

}
.foot p{
    color:white;
    
}

.flex-all-center a{
    margin:17px;

}

.animate img{
    display:flex;
    align-self: flex-end;
    animation-name: widthAnimate;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}
@keyframes widthAnimate {
    from{
        width:30px;
        height:30px;
    }
    to{
        width:150px;
        height:150px;
    }
}
